@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Language.Logout</a></li>
        </ul>
    }
}